<% if(isMultiPlatform) { %>
import { Platform } from 'react-native';
import { lazy } from 'react';

const isReactWeb = Platform.OS === 'web';

export const <%= kebabToPascal(componentName) %> = isReactWeb ? lazy(() => import("./<%= componentName %>-web")) :require("./<%=componentName %>-mobile").default;
<% }  %>
<% if(isMobileOnly) { %>
import styled from 'styled-components/native';

const StyledView = styled.View`
  background-color: papayawhip;
`

const StyledText = styled.Text`
  color: #BF4F74;
`

export const <%= kebabToPascal(componentName) %> = () => {
    return (
        <StyledView testID="<%= componentName %>">
            <StyledText><%= componentName %></StyledText>
        </StyledView>
    )
}
<% }  %>
<% if(isWebOnly) { %>
import styled from 'styled-components';

const StyledDiv = styled.div`
  background-color: papayawhip;
`

const StyledText = styled.p`
  color: #BF4F74;
`

export const <%= kebabToPascal(componentName) %> = () => {
    return (
        <StyledDiv data-testid="<%= componentName %>">
            <StyledText><%= componentName %></StyledText>
        </StyledDiv>
    )
}
<% }  %>